# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\PC\Desktop\학교\자료구조\자구응 제출\1129\2021114335박지원 codebase based on best match to current usage at 2021-11-29
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

